---
import BaseLayout from "~/layouts/BaseLayout.astro";
import { getBlogs } from "~/libs/microcms.ts";
const blogs = await getBlogs();
console.log(blogs);
---

<BaseLayout>
  <ul>
    {
      blogs.contents.map((blog) => (
        <li>
          <div>
            <h2>{blog.title}</h2>
          </div>
          <div>{blog.publishedAt}</div>
          <a href={`/blog/${blog.id}`}>詳細へ</a>
          <div set:html={blog.content} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
