---
import "../styles/global.css";
import "@fontsource/noto-sans-jp/400.css";
import "@fontsource/noto-sans-jp/700.css";

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <slot />
  </body>
</html>
